@using AnketUygulamaSistemi.Models
@model Dictionary<Sorular, List<Secenekler>>
@{
    ViewBag.Title = "AnketDetay";
    Layout = "~/Views/_KullaniciLayout.cshtml";
}
@using (Html.BeginForm("AnketLog", "Home",  FormMethod.Post, new { @class = "form-signin col col-lg-4 " }))
{
    <input type="text" name="anketBaslikId" id="anketBaslikId" @*style="display:none"*@ />

    foreach (KeyValuePair<Sorular, List<Secenekler>> entry in Model)
    {
        <h2>@entry.Key.soruMetni</h2>
        switch (entry.Key.soruTipId)
        {
            case 1:
                for (int i = 0; i < entry.Value.Count; i++)
                {
                    <input type="checkbox" name="@entry.Key.soruId" value="@i" />
                     @entry.Value[i].secenekMetni
                    <br />
                }
                break;
            case 2:
                for (int i = 0; i<entry.Value.Count; i++)
                {
                    <input type="radio" name="@entry.Key.soruId" value="@i" />
                        @entry.Value[i].secenekMetni
                    <br />
                }
                break;
            case 3:
                <input type="text" name="@entry.Key.anketId@entry.Key.soruId"/>
                break;
        }

    }
    <button type="submit" class="btn btn-primary">Anketi Kaydet</button>

}
<script>
    var url = window.location.pathname
    var val = url.split("/")
    var id = val[val.length - 1]
    $("#anketBaslikId")[0].value = id;
    console.log(id)
</script>

